<ion-header>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="pesquisa" (ionChange)="pesquisaChanged()" mode="ios" cancelButtonText="Cancel" placeholder="Onde há problemas?" ></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ion-margin-horizontal" [hidden]="!pesquisa.length">
    <ion-item (click)="addMarker(result)" *ngFor="let result of PesResult">
      {{ result.description }}
    </ion-item>
  </ion-list>

    <div #map >
      
    </div>

  
</ion-content>
