<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-button slot="end" routerLink="/configuracoes">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-item lines="none">
      <ion-avatar slot="start" id="avatar-perfil">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
           <div class="nome_user"></div>
          <div class="email_user"></div>
        </ion-label>
    </ion-item>
    
    <ion-segment class="ion-padding-top" (ionChange)="segmentChanged($event)" value="pendentes">
      <ion-segment-button value="pendentes">
        <ion-label>Pendentes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="resolvidos">
        <ion-label>Resolvidos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-content class="swiper-no-swiping">

    <ion-slides>
      <!-- PENDENTES -->
      <ion-slide>
        <div class="slide-inner">

          <ion-list *ngIf="!relatosPendentes.length">
            <ion-item *ngFor="let item of [0, 1, 2]">
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item-sliding *ngFor="let relato of relatosPendentes">
              <ion-item button [routerLink]="['/editar-relato', relato.id]">
                <ion-label>
                  <h2>{{ relato.ocorrido }}</h2>
                  <h4>{{ relato.descricao }}</h4>
                  <p> {{ relato.endereco }} </p>
                  <p>{{ relato.createdAt | date: 'short' }}</p>
                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </ion-list>


        </div>
      </ion-slide>

      <!-- RESOLVIDOS -->
      <ion-slide>
        <div class="slide-inner">

          <ion-list *ngIf="!relatosResolvidos.length">
            <ion-item *ngFor="let item of [0, 1, 2]">
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>

          </ion-list>
          <ion-list>
            <ion-item-sliding *ngFor="let relato of relatosResolvidos">
              <ion-item button [routerLink]="['/editar-relato', relato.id]">
                <ion-label>
                  <h2>{{ relato.ocorrido }}</h2>
                  <h4>{{ relato.descricao }}</h4>
                  <p>{{ relato.createdAt | date: 'short' }}</p>
                </ion-label>
              </ion-item>
            </ion-item-sliding>
          </ion-list>

        </div>
      </ion-slide>
    </ion-slides>

  </ion-content>