ion-content {
    --background: #00303F;
}

ion-item{
    --background: #00303F;
}
ion-list{
    background: #00303F;
}

ion-searchbar{
    --background: #ffffff;
    border-radius: 50px !important;
}