ion-content {
    --background: #00303F;
}

ion-item{
    --background: #00303F;
}
ion-list{
    background: #00303F;
}

ion-searchbar{
    --background: #ffffff;
}

p{
    color: #666 !important;
}

h3{
    color: aqua;
}