ion-content {
    --background: #00303F;
}

ion-item{
    --background: #00303F;
}
ion-list{
    background: #00303F;
}

ion-searchbar{
    --background: #a9a9a9;
    --placeholder-color: #c0c0c0;
    --border-radius: 10px;
}