<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Descrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- USUÁRIO QUE NÃO POSTOU -->
  <div *ngIf="relato.userId != usuarioId">
    <ion-item lines="none" class="ion-margin-top">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>nome do usuário</h2>
        <p> {{ relato.createdAt | date: 'short' }} </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="ion-margin">
      <ion-label>
        <h2> {{ relato.ocorrido }} </h2>
        <p>
          {{ relato.descricao }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item class="ion-margin">
      <h4> {{ relato.endereco }} </h4>
    </ion-item>

    <ion-item lines="none" *ngIf="relato.resolvido == false">
      <h6>Esta denúncia é verídica?</h6>
      <p> {{ relato.numLike }} </p>
      <ion-button (click)="like()" size="small" >
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>


    <div id="opcoes" class="ion-padding" *ngIf="relato.resolvido == true">
      <p>Resolvido</p>
      <ion-icon name="checkbox-outline"></ion-icon>
    </div>

  </div>

  <!-- USUÁRIO QUE POSTOU -->
  <div *ngIf="relato.userId == usuarioId">

    <ion-item class="ion-margin" lines="none">
      <ion-label slot="start">
        Relatado em:
        <p> {{ relato.createdAt | date: 'short' }} </p>
      </ion-label>
      <ion-label>
        Resolvido?
        <ion-toggle [(ngModel)]="relato.resolvido"></ion-toggle>
      </ion-label>

    </ion-item>

    <ion-list>
      <ion-radio-group [(ngModel)]="relato.ocorrido">

        <ion-item>
          <ion-label>Falta de água</ion-label>
          <ion-radio slot="start" value="Falta de água" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Cano estourado</ion-label>
          <ion-radio slot="start" value="Cano estourado"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Esgoto à céu aberto</ion-label>
          <ion-radio slot="start" value="Esgoto à céu aberto"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Má iluminação pública</ion-label>
          <ion-radio slot="start" value="Má iluminação"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Não há iluminação pública</ion-label>
          <ion-radio slot="start" value="Não há iluminação"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Rua mal asfaltada</ion-label>
          <ion-radio slot="start" value="Rua má asfaltada"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Rua esburacada</ion-label>
          <ion-radio slot="start" value="Rua esburacada"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Rua sem asfalto</ion-label>
          <ion-radio slot="start" value="Rua sem asfalto"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <ion-item lines="none">
      <ion-textarea rows="6" cols="20" placeholder="Descreva o problema." [(ngModel)]="relato.descricao"></ion-textarea>
    </ion-item>
  </div>

</ion-content>


<ion-footer *ngIf="relato.userId == usuarioId">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="dark" shape="round" (click)="updateRelato()">Atualizar denúncia</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="danger" shape="round" (click)="deleteRelato()">Deletar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>