ion-avatar {
    height: 60px;
    width: 60px;
}

ion-button{
    --background: none;
    --background-activated: none;
    --color: #c0c0c0;
}

#btn{
    --background: #88bbd6;
    --color: #ffffff;
    float: right;
}

ion-toolbar{
    --background: #002a37;
}

ion-title{
    color: #ffffff;
}

ion-back-button{
    --color: #ffffff;
}

ion-content {
    --background: #00303F;
}

p{
    color: #666 !important;
}

nsei{
    margin-left: 50px;
}

h1{
    color: #ffffff;
    margin-left: 15px;
}

h4{
    color: #ffffff;
}

h6{
    color: #ffffff;
}

ion-item{
    --background: #00303F;
}

ion-list{
    background: #00303F;
}
