<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Descrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <ion-item class="ion-margin" lines="none">
      <ion-label slot="start">
        <h4>Relatado em:</h4>
        <p> {{ relato.createdAt | date: 'short' }} </p>
      </ion-label>
      <ion-label>

        <h4 style="float: left;">Resolvido?</h4>
      </ion-label>
      <ion-toggle [(ngModel)]="relato.resolvido"></ion-toggle>
    </ion-item>
    <h1> {{relato.ocorrido}} </h1>
    <ion-item lines="none">
      <ion-textarea rows="6" cols="20" placeholder="Descreva o problema." [(ngModel)]="relato.descricao" color="light">
      </ion-textarea>
    </ion-item>
  </div>

</ion-content>


  <ion-toolbar>
    
          <ion-button id="btn" shape="round" (click)="updateRelato()" >Atualizar</ion-button>
    
  </ion-toolbar>
