<ion-content class="ion-padding">

  <div id="div-cadastro" class="ion-padding" lines="full">
    <!-- <span>Login</span> -->
    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="   Nome" [(ngModel)]="usuario.nome">
        <ion-icon name="contact" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-datetime [pickerOptions]="customPickerOptions" placeholder="Ano de Nascimento" displayFormat="YYYY"
        [(ngModel)]="usuario.anoNasc">
        <ion-icon name="calendar" slot="start"></ion-icon>
      </ion-datetime>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-label> {{ usuario.estado }} </ion-label>
      <ion-button slot="end" fill="clear" (click)="presentPicker()">Estado</ion-button>

    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="   E-mail" [(ngModel)]="usuario.email">
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="   Senha" [(ngModel)]="usuario.senha">
        <ion-icon name="key" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="   Confirme a Senha" [(ngModel)]="usuario.confsenha">
        <ion-icon name="key" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button id="button-login" class="ion-margin-top" (click)="cadastrar()" fill="solid" expand="block">Cadastrar
    </ion-button>
  </div>


</ion-content>