<ion-content class="ion-padding">

  <div id="div-cadastro" class="ion-padding" lines="full">
    <h1>Cadastro</h1>
    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="Nome" [(ngModel)]="usuario.nome">
        <ion-icon name="contact" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="E-mail" [(ngModel)]="usuario.email">
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="Senha" [(ngModel)]="usuario.senha">
        <ion-icon name="key" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="Confirme a Senha" [(ngModel)]="usuario.confsenha">
        <ion-icon name="key" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button id="button-login" class="ion-margin-top" (click)="cadastrar()" fill="solid" expand="block">Cadastrar
    </ion-button>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button class="button-links" fill="clear" routerLink="/login" size="small" expand="block">Já tem conta?</ion-button>
  </ion-toolbar>
</ion-footer>
