ion-back-button{
    --color: #ffffff;
}

ion-toolbar{
    --background: #002a37;
}

ion-content {
    --background: #00303F;
}

ion-title{
    color: #ffffff;
}

ion-item{
    --background: #00303F;
    color: #ffffff;
    
}

ion-list{
    background: #00303F;
}

ion-button{
    --background: #88bbd6;
    --color: #ffffff;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

ion-radio {
    --color-checked: #88bbd6;
}