<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>visualizarRelato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item lines="none" class="ion-margin-top">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label color="light">
        <h2> {{relato.nameUser}} </h2>
        <p> {{relato.emailUser}} </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="ion-margin">
      <ion-label>
        <h1> {{ relato.ocorrido }} </h1>
      </ion-label>
    </ion-item>
    <ion-textarea rows="2" cols="12" disabled [(ngModel)]="relato.descricao" color="light"></ion-textarea>
    <ion-item class="ion-margin">
      <ion-label>
        <p> {{ relato.endereco }} </p>
        <p slot="end"> {{ relato.createdAt | date: 'short' }} </p>
      </ion-label>
    </ion-item>

    <ion-item lines="none" style="float: right;">
      <h6>Esta denúncia é verídica?</h6>
      <ion-button (click)="like()" fill="clear" id="like">
        <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
      </ion-button>
      <h6> {{ relato.numLike }} </h6>
    </ion-item>

  </div>

</ion-content>