<ion-tabs #tabs class="tabs">   

  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="home" class="tabs"> <!--é o feed aqui, amada-->
      <ion-icon name="home"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" class="tabs">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" class="tabs">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
