ion-content {
    // --background: #dfdce3;
    --background: #00303F;
}


ion-toolbar {
    --background: #00303F;
    --border-color: #00303F;
    --border-width: 0px;
}

h1{
   font-family: FreeMono, monospace;
   color: #ffffff;
   font-size: 41px;
}

#div-login {
    // background: #f7b733;
    height: 40%;
    margin-top: 40%;
    text-align: center;
}

#div-links {
    margin-top: 20%;
}

#button-login {
    --background: #88bbd6;
    --background-activated: #78a5bc; 
    --border-radius: 10px;
}

ion-item {
    // --border-color: #000
    --border-radius: 10px;
}

ion-icon {
    color: #c0c0c0;
    margin-right: 15px;
}

ion-input {
    --placeholder-color: #c0c0c0;
    --color: #a9a9a9;
}

.button-links {
    --color: #88bbd6;
    --color-activated: #78a5bc;

}