<ion-content class="ion-padding">

  <div id="div-login" class="ion-padding" lines="full">
    <!-- <span>Login</span> -->
    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="email" placeholder="   E-mail" [(ngModel)]="usuario.email">
          <ion-icon name="mail" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-input type="password" placeholder="   Senha" [(ngModel)]="usuario.senha">
          <ion-icon name="key" slot="start"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button id="button-login" class="ion-margin-top" (click)="login()" fill="solid" expand="block">Entrar</ion-button>
  </div>

  <div id="div-links">
    <ion-button class="button-links" fill="clear" size="small" expand="block">Esqueceu sua senha?</ion-button>
    <hr>
    <ion-button class="button-links" fill="clear" routerLink="/cadastro" size="small" expand="block">Ainda não tem conta?</ion-button>
  </div>
</ion-content>