ion-back-button{
    --color: #ffffff;
}

ion-toolbar{
    --background: #002a37;
}

ion-content {
    --background: #00303F;
}

ion-title{
    color: #ffffff;
}

ion-item{
    --background: #00303F;
    color: #ffffff;
}

ion-list{
    background: #00303F;
}

h4{
    color: #ffffff;
}

p{
    color: #ffffff;
}

ion-button{
    --background: #88bbd6;
    --color: #ffffff;
}